body{
  overflow: hidden;
}

header {
  clear: both;
  text-align: center;

  padding: 1%;
}

nav {
  float: left;
  overflow: hidden;
  margin: 0 1% 0 0;
  max-width: 160px;
}

content {
  float: left;
  margin-left: 350px;
  display: inline;
  max-width: 350px;
}

article {
  float: right;
  overflow: hidden;
  width: 300px;
}

div.container {
  clear: right;
  float: left;
  display: inline;
  margin-left: 350px;

}

div.second {
  float: right;
  padding-right: 21%;
}

footer {
  clear: both;
  text-align: center;
  font-size: 50px;
}

.blank-space{
  overflow: hidden;
}